body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
}

/* TWEAKS STYLE OF FORM FIELDS SO THAT MOBILE BROWSERS DO NOT ZOOM IN ON FOCUS - FONT SIZE ELIMINATES ZOOM */

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

/* SETTING WIDTH OF INPUT FIELD TO PREVENT OVERFLOW ON MOBILE  */

input[type=file] {
  width: 100%;
}
